test-workflows/advanced-nodes-test.json
{
  "name": "Advanced Nodes Test",
  "active": true,
  "nodes": [
    {
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "name": "JSON Parse",
      "type": "n8n-nodes-base.json",
      "typeVersion": 1,
      "position": [450, 200],
      "parameters": {
        "operation": "parse",
        "jsonPath": "$json.jsonString"
      }
    },
    {
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [650, 200],
      "parameters": {
        "rules": [
          {
            "field": "$json.data.age",
            "operation": "greater",
            "value": 18
          },
          {
            "field": "$json.data.name",
            "operation": "contains",
            "value": "John"
          }
        ],
        "stopAfterFirstMatch": true
      }
    },
    {
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [450, 400],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "name": "JSON Stringify",
      "type": "n8n-nodes-base.json",
      "typeVersion": 1,
      "position": [850, 300],
      "parameters": {
        "operation": "stringify",
        "dataPath": "$json",
        "indent": true
      }
    }
  ],
  "connections": {
    "Start": {
      "Main": [
        [
          {
            "node": "JSON Parse",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parse": {
      "Main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "Main": [
        [
          {
            "node": "JSON Stringify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "Main": [
        [
          {
            "node": "JSON Stringify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}