test-workflows/complex-multi-node-workflow.json
{
  "name": "Multi-Node Complex Workflow",
  "active": true,
  "nodes": [
    {
      "name": "Set Initial Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "assignments": [
          {
            "name": "userId",
            "value": 12345
          },
          {
            "name": "userName",
            "value": "John Doe"
          },
          {
            "name": "userEmail",
            "value": "john.doe@example.com"
          }
        ]
      }
    },
    {
      "name": "Transform User Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "assignments": [
          {
            "name": "processed",
            "value": true
          },
          {
            "name": "timestamp",
            "value": "={{ now() }}"
          },
          {
            "name": "greeting",
            "value": "={{ uppercase($json.userName) }}!"
          }
        ]
      }
    },
    {
      "name": "Create API Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 300],
      "parameters": {
        "assignments": [
          {
            "name": "apiUrl",
            "value": "https://httpbin.org/post"
          },
          {
            "name": "httpMethod",
            "value": "POST"
          }
        ]
      }
    },
    {
      "name": "Send to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 300],
      "parameters": {
        "url": "={{ $json.apiUrl }}",
        "method": "={{ $json.httpMethod }}",
        "body": {
          "userId": "={{ $json.userId }}",
          "userName": "={{ $json.userName }}",
          "userEmail": "={{ $json.userEmail }}",
          "processed": "={{ $json.processed }}",
          "timestamp": "={{ $json.timestamp }}",
          "greeting": "={{ $json.greeting }}"
        }
      }
    },
    {
      "name": "Process API Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1050, 300],
      "parameters": {
        "assignments": [
          {
            "name": "apiStatus",
            "value": "={{ $json.statusCode }}"
          },
          {
            "name": "apiResponse",
            "value": "={{ $json.body }}"
          }
        ]
      }
    },
    {
      "name": "Combine Results",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [1250, 300],
      "parameters": {
        "mode": "combine"
      }
    }
  ],
  "connections": {
    "Set Initial Data": {
      "main": [
        [
          {
            "node": "Transform User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform User Data": {
      "main": [
        [
          {
            "node": "Create API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create API Request": {
      "main": [
        [
          {
            "node": "Send to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to API": {
      "main": [
        [
          {
            "node": "Process API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process API Response": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}